body {
	margin: 0;
}
h1, h2 {
	font-family: Helvetica, Arial, sans-serif;
	margin-left: 20px;
}
#h1 {
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}
#game {
	background-color: #444;
	height: 460px;
	width: 460px;
	position: relative;
	margin: auto;
	border-radius: 20px;
}
.squares {
	position: absolute;
	height: 200px;
	width: 200px;
	margin: 10px;
	border-radius: 15px;	
}
#red {
	background-color: #b22222;
	top: 10px;
	left: 10px;
}
#yellow {
	background-color: #ffd700;
	bottom: 10px;
	right: 10px;
}
#green {
	background-color: #227822;
	bottom: 10px;
	left: 10px;
}
#blue {
	background-color: #12129b;
	top: 10px;
	right: 10px;
}
#control {
	width: 460px;
	margin: auto;
	text-align: center;
}
#play {
	background-color: transparent;
	font-size: 1em;
	height: 40px;
	width: 120px;
	border: 2px solid #444;
	border-radius: 10px;
}
#play:active {
	background-color: #eee;
}
.italics {
	font-style: italic;
}